@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.5px;
}
body{
    background-color: #121111;
    width: 100%;
    height: 100vh;
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.caixa{
    border: 2px solid tomato;
    min-width: 350px;
    max-width: fit-content;
    min-height: 500px;
    max-height: fit-content;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#caixa_nova_funcionalidade{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    & label{
        color: #ccc;
        text-align: center;
        
    }

    & .caixa_funcionalidade{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
       

        & input[type="text"]{
            outline: 1px solid #ccc;
            border: none;
            padding: 10px;
            border-radius: 6px;
            background-color: #2a2929;
            color: #fff;
            font-size: 16px;
            width: 75%
        }
    }
}
button{
    width: 75%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
   
}

.curso{
    color: #ccc;
    border: 1px solid #737171;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #424141;
    margin: 10px 0;
    width: 70%;
    border-radius: 6px;
}
input[type="radio"]{
    cursor: pointer;
    width: 20px;
    height: 20px;
}