@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    color: #ccc;
    font-family: "Montserrat", sans-serif;
}
img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
}
body{
    background-color: #121111;
    width: 100%;
}
h1{
    text-align: center;
    
}
/** ================================================================ */
        /** ESTILIZANDO O CONTEINER DOS BUTTOES  */
/** ================================================================ */
.btn_conteiner{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.btn{
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    width: 160px;
    border: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #2b2b2b;
    /* outline: 1px solid #ccc; */
    box-sizing: border-box;
    transition: 1s;
    font-weight: 600;
}
/** ================================================================ */
        /** ADICIONADO :HOVER ACADA  BUTTUM  */
/** ================================================================ */
button.btn_ativo{
    background-color: #121111 !important;
    color: #fff;
}
.css:hover{
    background-color: rgb(6, 57, 159);
    color: #fff;
}
.js:hover{
    background-color: rgb(142, 142, 16);
    color: #fff;
}
.node:hover{
    background-color: rgb(28, 146, 28);
    color: #fff;
}
.react:hover{
    background-color: rgb(12, 121, 172);
    color: #fff;
}

/* CONFIGURACAO DO MAIN_CONTEINER */
.main_conteiner{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 16px;
    border:1px solid #2b2b2b ;
    background-color: #1d1c1c9d;
    width: 50%;
    /* max-height: 300px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    border-radius: 10px;
}
/** ================================================================ */
        /** ESTILIZANDO O CONTEINER COM O CONTEUDO */
/** ================================================================ */
.content_conteiner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content_conteiner .item {
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    letter-spacing: 0.5px;
    background-color: #121111;
    padding: 6px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
/** ================================================================ */
        /** ECONDENDO OS ITENS COM DISPLAY NONE */
/** ================================================================ */
div.item{
    display: none !important; 
}
div.item_active {
    display: flex !important;
}

/** ================================================================ */
        /** VERSAO MOBILE */
/** ================================================================ */
@media (max-width: 650px){
    .main_conteiner{
        display: flex;
        row-gap: 10px;
        flex-direction: column;
        justify-content: center;
    }
    .btn_conteiner{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .btn{
        border-radius: 6px;
        width: 100%;
    }

    .content_conteiner .item{
        display: flex;
        flex-direction: column;
        padding: 10px 0px;
        border-radius: 6px;
        height: 300px;
        scroll-behavior: auto;
        overflow: auto;
    }
    dt{
        text-align: center;
        margin: 10px 0px;
        font-size: 18px;
        font-weight: 700;
    }
    dd{
        text-align: left;
        margin: 0;
        box-sizing: border-box;
        padding: 10px;
    }
}


